---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.data.Slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---
<h1>{post.data.Name}</h1>
<Content />
