---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---
<h1>My Blog</h1>
<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.data.Slug}`}>{post.data.Name}</a>
    </li>
  ))}
</ul>
